*{
    margin: 0%;
    padding: 0%;
}
.background-image {
    background-image: url('food_background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    position: relative;
    margin-top: 50px; /* Adjust this value for vertical alignment */
  }